:root {
    --background: #FAF8F3;
    --primary-warm: #E97451;
    --secondary-warm: #E9CB86;
    --accent-warm: #9CB380;
    --text-warm: #454545;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: var(--background);
}

* {
    font-family: "Quicksand", sans-serif;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box
}

/* navigation bar */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem 5%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(233, 203, 134);
    z-index: 9999;
}

.navbar .logo {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--primary-warm);
    margin-bottom: 0.4rem;
    margin-right: auto;

    img {
        height: 40px;
        cursor: pointer;
    }
}

.navbar .logo a:hover {
    color: var(--text-warm);
}

.navbar .navbar-nav {
    margin-right: auto;
    margin-left: 3rem;
}

.navbar .navbar-nav a {
    color: var(--text-warm);
    display: inline-block;
    font-size: 1.5rem;
    margin-right: 3rem;
}

.navbar .navbar-nav a:hover {
    color: var(--primary-warm);
}

.navbar-extra {
    display: none;
    color: var(--text-warm);
}

/* general */
.container {
    margin: 4rem 1.5rem;
}

.content {
    padding: 16px;
}

span {
    color: var(--accent-warm);
}

h1,
h2,
h3,
h4,
p,
li {
    color: var(--text-warm);
}

p {
    font-size: 20px;
}

h3 {
    font-size: 30px;
}

h2 {
    font-size: 45px;
}

h1 {
    font-size: 68px;
}


#home,
#about,
#current-stuff,
#experience,
#contact {
    padding: 3rem;
}


/* landing page */
.landing-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    /* for responsiveness on smaller screens */
    flex-wrap: wrap;
}

.landing-text {
    flex: 1;
    min-width: 250px;
}

.landing-content,
.short-about {
    margin-top: 10px;
    margin-bottom: 20px;
}

.land-button, .land-button-resume {
    border: none;
    padding: 14px 20px;
    border-radius: 20px;
    margin-top: 18px;
    cursor: pointer;
    font-size: medium;
    position: relative;
    /* allow ::before outside */
    overflow: visible;
    z-index: 0;
}

.land-button {
    background-color: var(--primary-warm);
    color: var(--text-warm);
}

.land-button:hover {
    background-color: #D66845;
}

.land-button-resume {
    background-color: var(--secondary-warm);
    color: var(--text-warm);

}

.land-button-resume:hover {
    background-color: #D4B86B;
}




